* {
  font-family: 'Nanum Pen Script';
}

body {
  background: black;
}

/* LOGIN FORM */
.login-form {
  border-radius: 15%;
  background: white;
  border: 1px solid black;
  padding: 100px;
  display: flex;
  position: absolute;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 39%;
  width: 150px;
  margin-top: 13%;
  z-index: 0;
}
.login-header {
  border: 1px solid black;
  text-align: center;
  width: 200px;
  position: absolute;
  font-size: 38px;
  margin-bottom: 225px;
}
.login-form :nth-child(2) {
  margin-top: 25px;
}
.login-form :nth-child(4) {
  margin-top: 25px;
}
.login-form input {
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  margin: 5px;
}
.login-btn {
  font-size: 18px;
  margin-top: 13px;
  width: 70px;
}
.signup-btn {
  font-size: 18px;
  position: absolute;
  margin-top: 29.5%;
  margin-left: 47.85%;
  width: 70px;
}

/* SIGNUP FORM */
.signup-modal {
  display: flex;
  position: fixed;
  justify-content: center;
  background-color: rgba(0.7, 0.7, 0.7, 0.7);
  height: 100vh;
  width: 100vw;
  bottom: 0;
  left: 0;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid white;
  height: 25%;
  margin-top: 13%;
  margin-left: 1%;
  padding: 4%;
  /* padding-left: 3%;
  padding-right: 3%; */
}
.signup-header {
  border: 1px solid black;
  text-align: center;
  width: 200px;
  position: absolute;
  margin-bottom: 210px;
}
.signup-form input {
  font-size: 20px;
  margin: 3px;
}
.signup-form :nth-child(2) {
  margin-top: 80px;
}
.signup-modal-btn {
  font-size: 18px;
  margin-top: 25px;
  width: 70px;
  
}
.close-signup-form {
  font-size: 30px;
  position: fixed;
  margin-right: 15%;
  margin-top: 14%;
  color: black;
  cursor: pointer;
  text-decoration: none;
}


/* Login Page Background Animation */

@keyframes spin {
  from {transform: rotate(0deg);
  }
  to {transform: rotate(360deg);
  }
}

@keyframes glow-red {
  from {box-shadow: 0px 0px 10px 2px #DC0007}
  to {box-shadow: 0px 0px 15px 5px #DC0007}
}
@keyframes glow-grn {
  from {box-shadow: 0px 0px 10px 2px #14DE0E}
  to {box-shadow: 0px 0px 15px 5px #14DE0E}
}
@keyframes glow-blu {
  from {box-shadow: 0px 0px 10px 2px #03F7FF}
  to {box-shadow: 0px 0px 15px 5px #03F7FF}
}
@keyframes glow-pnk {
  from {box-shadow: 0px 0px 10px 2px #ff37ca;}
  to {box-shadow: 0px 0px 15px 5px #ff37ca;}
}
@keyframes glow-orj {
  from {box-shadow: 0px 0px 10px 2px #ffa90a;}
  to {box-shadow: 0px 0px 15px 5px #ffa90a;}
}
@keyframes glow-yel {
  from {box-shadow: 0px 0px 10px 2px #FFFB00;}
  to {box-shadow: 0px 0px 15px 5px #FFFB00;}
}



.orb-colors {
  display: flex;
  position: fixed;
  gap: 130px;
  margin-top: 23%;
  margin-left: 13%;
  animation: spin 18s linear infinite;
  z-index: -1;
}
.orb {
  border-radius: 100%;
  animation: glow 5s linear infinite;
}
.orb-colors :nth-child(1) {
  background-color: #DC0007;
  height: 20px;
  width: 20px;
  box-shadow: 0px 0px 10px 2px #DC0007;
  animation: glow-red 5s ease-in-out infinite;
  
}
.orb-colors :nth-child(2) {
  background-color: #14DE0E;
  height: 50px;
  width: 50px;
  box-shadow: 0px 0px 10px 2px #14DE0E;
  animation: glow-grn 5s ease-in-out infinite;

}
.orb-colors :nth-child(3) {
  background-color: #03F7FF;
  height: 30px;
  width: 30px;
  box-shadow: 0px 0px 10px 2px #03F7FF;
  animation: glow-blu 5s ease-in-out infinite;

}
.orb-colors :nth-child(4) {
  background-color: white;
  height: 20px;
  width: 20px;
}
.orb-colors :nth-child(5) {
  background-color: white;
  height: 20px;
  width: 20px;
}
.orb-colors :nth-child(6) {
  background-color: #ff37ca;
  height: 40px;
  width: 40px;
  box-shadow: 0px 0px 10px 2px #ff37ca;
  animation: glow-pnk 5s ease-in-out infinite;

}
.orb-colors :nth-child(7) {
  background-color: #ffa90a;
  height: 16px;
  width: 16px;
  box-shadow: 0px 0px 10px 2px #ffa90a;
  animation: glow-orj 5s ease-in-out infinite;

}
.orb-colors :nth-child(8) {
  background-color: #FFFB00;
  height: 31px;
  width: 31px;
  box-shadow: 0px 0px 10px 2px #FFFB00;
  animation: glow-yel 5s ease-in-out infinite;

}

/* .list-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 75vw;
  background-color: red;
} */

