* {
  font-family: 'Nanum Pen Script';
}
body {
  background: black;
}

/* LOGIN FORM */
.login-form {
  border-radius: 10%;
  background: white;
  padding: 100px;
  display: flex;
  position: absolute;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 39%;
  width: 150px;
  margin-top: 13%;
  z-index: 0;
}
.login-header {
  background: black;
  color: white;
  text-align: center;
  width: 350px;
  position: absolute;
  font-size: 40px;
  margin-bottom: 250px;
  /* box-shadow: 0px 0px 3px 2px black; */
}
.login-form :nth-child(2) {
  margin-top: 25px;
}
.login-form :nth-child(4) {
  margin-top: 25px;
}
.login-form input {
  text-align: center;
  border-radius: 10px;
  font-size: 25px;
  margin: 5px;
}
.login-btn {
  cursor: pointer;
  background-color: white;
  border: 2px solid black;
  border-radius: 100%;
  font-size: 25px;
  margin-top: 13px;
  height: 45px;
  width: 70px;
}
.login-btn:hover {
  background-color: black;
  color: white;
}
.login-btn:active {
  font-size: 21px;
}
.signup-btn {
  cursor: pointer;
  background-color: black;
  border: 2px solid black;
  color: white;
  border-radius: 100%;
  font-size: 20px;
  position: absolute;
  margin-top: 33.75%;
  margin-left: 48.7%;
  height: 45px;
  width: 70px;
}
.signup-btn:hover {
  background-color: white;
  color: black;
}
.signup-btn:active {
  font-size: 17px;
}

/* SIGNUP FORM */
.signup-modal {
  display: flex;
  position: fixed;
  justify-content: center;
  background-color: rgba(0.8, 0.8, 0.8, 0.8);
  height: 100vh;
  width: 100vw;
  bottom: 0;
  left: 0;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid white;
  border-radius: 10%;
  height: 25%;
  margin-top: 13.8%;
  margin-left: 3.25%;
  padding: 6%;
  /* padding-left: 3%;
  padding-right: 3%; */
}
.signup-header {
  background-color: white;
  border: 3px solid black;
  text-align: center;
  padding: 3px;
  width: 350px;
  position: absolute;

  margin-bottom: 240px;
}
.signup-form input {
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  height: 50px;
  margin: 5px;
}
.signup-form :nth-child(2) {
  margin-top: 80px;
}
.signup-modal-btn {
  cursor: pointer;
  border-radius: 10%;
  background: black;
  color: white;
  font-size: 18px;
  margin-top: 25px;
  width: 90px;
}
.signup-modal-btn:active {
}
.signup-modal-btn:hover {
  background: white;
  color: black;
}
.close-signup-form {
  font-size: 45px;
  position: fixed;
  margin-right: 15.5%;
  margin-top: 14%;
  color: black;
  cursor: pointer;
  text-decoration: none;
}
.close-signup-form:active {
  font-size: 41px;
}

/* Login Page Background Animation */

/* @keyframes spin {
  from {transform: rotate(0deg);
  }
  to {transform: rotate(360deg);
  }
}
@keyframes reverse-spin {
  from {transform: rotate(360deg);
  }
  to {transform: rotate(0deg);
  }
}

@keyframes glow-wte {
  0% {box-shadow: 0px 0px 11px 2px white;}
  25% {box-shadow: 0px 0px 13px 2.5pxwhite;}
  50% {box-shadow: 0px 0px 15px 3px white;}
  75% {box-shadow: 0px 0px 17px 4px white;}
  100% {box-shadow: 0px 0px 19px 5px white;}
}
@keyframes glow-red {
  0% {box-shadow: 0px 0px 11px 2px #DC0007;}
  25% {box-shadow: 0px 0px 13px 2.5px#DC0007;}
  50% {box-shadow: 0px 0px 15px 3px #DC0007;}
  75% {box-shadow: 0px 0px 17px 4px #DC0007;}
  100% {box-shadow: 0px 0px 19px 5px #DC0007;}
}
@keyframes glow-grn {
  0% {box-shadow: 0px 0px 11px 2px #14DE0E;}
  25% {box-shadow: 0px 0px 13px 2.5px#14DE0E;}
  50% {box-shadow: 0px 0px 15px 3px #14DE0E;}
  75% {box-shadow: 0px 0px 17px 4px #14DE0E;}
  100% {box-shadow: 0px 0px 19px 5px #14DE0E;}
}
@keyframes glow-blu {
  0% {box-shadow: 0px 0px 11px 2px #03F7FF;}
  25% {box-shadow: 0px 0px 13px 2.5px#03F7FF;}
  50% {box-shadow: 0px 0px 15px 3px #03F7FF;}
  75% {box-shadow: 0px 0px 17px 4px #03F7FF;}
  100% {box-shadow: 0px 0px 19px 5px #03F7FF;}
}
@keyframes glow-pnk {
  0% {box-shadow: 0px 0px 11px 5px #ff37ca;}
  25% {box-shadow: 0px 0px 13px 8px#ff37ca;}
  50% {box-shadow: 0px 0px 15px 11px #ff37ca;}
  75% {box-shadow: 0px 0px 17px 14px #ff37ca;}
  100% {box-shadow: 0px 0px 19px 17px #ff37ca;}
}
@keyframes glow-orj {
  0% {box-shadow: 0px 0px 11px 2px #ffa90a;}
  25% {box-shadow: 0px 0px 13px 2.5px#ffa90a;}
  50% {box-shadow: 0px 0px 15px 3px #ffa90a;}
  75% {box-shadow: 0px 0px 17px 4px #ffa90a;}
  100% {box-shadow: 0px 0px 19px 5px #ffa90a;}
}
@keyframes glow-yel {
  0% {box-shadow: 0px 0px 11px 2px #FFFB00;}
  25% {box-shadow: 0px 0px 13px 2.5px#FFFB00;}
  50% {box-shadow: 0px 0px 15px 3px #FFFB00;}
  75% {box-shadow: 0px 0px 17px 4px #FFFB00;}
  100% {box-shadow: 0px 0px 19px 5px #FFFB00;}
}
@keyframes glow-prp {
  0% {box-shadow: 0px 0px 11px 6px #9d00ff}
  25% {box-shadow: 0px 0px 13px 8px #9d00ff}
  50% {box-shadow: 0px 0px 15px 10px #9d00ff}
  75% {box-shadow: 0px 0px 17px 12px #9d00ff}
  100% {box-shadow: 0px 0px 19px 14px #9d00ff}
}
@keyframes glow-big-grn {
  0% {box-shadow: 0px 0px 12px 7px #14DE0E;}
  25% {box-shadow: 0px 0px 14px 8px#14DE0E;}
  50% {box-shadow: 0px 0px 16px 9px #14DE0E;}
  75% {box-shadow: 0px 0px 18px 10px #14DE0E;}
  100% {box-shadow: 0px 0px 20px 11px #14DE0E;}
}
@keyframes glow-big-blu {
  0% {box-shadow: 0px 0px 12px 8px #03F7FF;}
  25% {box-shadow: 0px 0px 14px 10px#03F7FF;}
  50% {box-shadow: 0px 0px 16px 12px #03F7FF;}
  75% {box-shadow: 0px 0px 18px 14px #03F7FF;}
  100% {box-shadow: 0px 0px 20px 16px #03F7FF;}
}
@keyframes glow-big-red {
  0% {box-shadow: 0px 0px 12px 7px #DC0007;}
  25% {box-shadow: 0px 0px 14px 8px#DC0007;}
  50% {box-shadow: 0px 0px 16px 9px #DC0007;}
  75% {box-shadow: 0px 0px 18px 10px #DC0007;}
  100% {box-shadow: 0px 0px 20px 11px #DC0007;}
}
@keyframes glow-big-orj {
  0% {box-shadow: 0px 0px 15px 8px #ffa90a;}
  25% {box-shadow: 0px 0px 18px 9px#ffa90a;}
  50% {box-shadow: 0px 0px 21px 10px #ffa90a;}
  75% {box-shadow: 0px 0px 24px 11px #ffa90a;}
  100% {box-shadow: 0px 0px 27px 12px #ffa90a;}
}
@keyframes glow-big-yel {
  0% {box-shadow: 0px 0px 10px 8px #d9ff00;}
  25% {box-shadow: 0px 0px 11px 9px#d9ff00;}
  50% {box-shadow: 0px 0px 12px 10px #d9ff00;}
  75% {box-shadow: 0px 0px 13px 11px #d9ff00;}
  100% {box-shadow: 0px 0px 14px 12px #d9ff00;}
}  */

/* FIRST SET OF ORBS 1111111 */

.orb-colors {
  display: flex;
  position: fixed;
  gap: 190px;
  margin-top: 24%;
  margin-right: 7%;
  animation: spin 15s linear infinite;
  z-index: -1;
}
.orb-colors .orb {
  border-radius: 100%;
  animation: glow 5s linear infinite;
}
.orb-colors :nth-child(1) {
  background-color: #d9ff00;
  height: 120px;
  width: 120px;
  animation:1s ease-in-out infinite alternate glow-yel; 
}
.orb-colors :nth-child(2) {
  background-color: #14DE0E;
  height: 50px;
  width: 50px;
  animation: 1s ease-in-out infinite alternate glow-grn;
}
.orb-colors :nth-child(3) {
  background-color: #03F7FF;
  height: 30px;
  width: 30px;
  animation: 1s ease-in-out infinite alternate glow-blu;
}
.orb-colors :nth-child(4) {
  background-color: white;
  height: 20px;
  width: 20px;
  animation: 1s ease-in-out infinite alternate glow-wte;
}
.orb-colors :nth-child(5) {
  background-color: white;
  height: 100px;
  width: 100px;
  animation: 1s ease-in-out infinite alternate glow-wte;
}
.orb-colors :nth-child(6) {
  background-color: #ff37ca;
  height: 160px;
  width: 160px;
  animation: 1s ease-in-out infinite alternate glow-pnk;
}
.orb-colors :nth-child(7) {
  background-color: #ffa90a;
  height: 16px;
  width: 16px;
  animation: 1s ease-in-out infinite alternate glow-orj;

}
.orb-colors :nth-child(8) {
  background-color: #FFFB00;
  height: 31px;
  width: 31px;
  animation: 1s ease-in-out infinite alternate glow-yel;

}

/* SECOND SET OF ORBS 2222222 */

.orbs-colors-2 {
  display: flex;
  position: fixed;
  gap: 100px;
  margin-top: 21%;
  margin-left: 3%;
  animation: reverse-spin 12s linear infinite;
  z-index: -1;
}
.orbs-colors-2 .orb {
  border-radius: 100%;
}
.orbs-colors-2 :nth-child(1) {
  background-color: #ff37ca;
  height: 13px;
  width: 13px;
  animation: 1s ease-in-out infinite alternate glow-pnk;
  
}
.orbs-colors-2 :nth-child(2) {
  background-color: white;
  height: 20px;
  width: 20px;
  animation: 1s ease-in-out infinite alternate glow-wte;
}
.orbs-colors-2 :nth-child(3) {
  background-color: #FFFB00;
  height: 110px;
  width: 110px;
  animation: 1s ease-in-out infinite alternate glow-yel;
}
.orbs-colors-2 :nth-child(4) {
  background-color: #14DE0E;
  height: 66px;
  width: 66px;
  animation: 1s ease-in-out infinite alternate glow-grn;
}
.orbs-colors-2 :nth-child(5) {
  background-color: white;
  height: 20px;
  width: 20px;
}
.orbs-colors-2 :nth-child(6) {
  background-color: #9d00ff;
  height: 190px;
  width: 190px;
  animation: 1s ease-in-out infinite alternate glow-prp;
}
.orbs-colors-2 :nth-child(7) {
  background-color: #ffa90a;
  height: 40px;
  width: 40px;
  animation: 1s ease-in-out infinite alternate glow-orj;
}
.orbs-colors-2 :nth-child(8) {
  background-color: #DC0007;
  height: 180px;
  width: 180px;
  animation: 1s ease-in-out infinite alternate glow-big-red;
}

/* BIG ORBS */
.orb-colors-3 {
  display: flex;
  position: fixed;
  gap: 250px;
  margin-top: 15%;
  margin-right: 13%;
  animation: spin 15s linear infinite;
  z-index: -2;
}
.orb-colors-3 .orb {
  border-radius: 100%;
}
.orb-colors-3 :nth-child(1) {
  background-color: #14DE0E;
  height: 200px;
  width: 200px;
  animation: 3s ease-in-out infinite alternate glow-big-grn;
}
.orb-colors-3 :nth-child(2) {
  background-color: #03F7FF;
  height: 120px;
  width: 120px;
  animation: 2s ease-in-out infinite alternate glow-big-blu;
}
.orb-colors-3 :nth-child(3) {
  background-color: #DC0007;
  height: 60px;
  width: 60px;
  animation: 1s ease-in-out infinite alternate glow-big-red;
}
.orbs-colors-4 {
  display: flex;
  position: fixed;
  gap: 300px;
  margin-top: 20%;
  margin-left: 60%;
  animation: reverse-spin 30s linear infinite;
  z-index: -2;
}
.orbs-colors-4 .orb {
  border-radius: 100%;
}
.orbs-colors-4 :nth-child(1) {
  background-color: #ffa90a;
  height: 300px;
  width: 300px;
  animation: 1s ease-in-out infinite alternate glow-big-orj;
}
.orbs-colors-4 :nth-child(2) {
  background-color: #d9ff00;
  height: 150px;
  width: 150px;
  animation: 1s ease-in-out infinite alternate glow-big-yel;

}

.list-container {
  display: grid;
  height: 100vh;
  width: 100vw;
  background-color: white;
}


.logout-btn {
  cursor: pointer;
  border-radius: 15%;
  background: black;
  color: white;
  font-size: 18px;
  height: 40px;
  width: 75px;
  margin-bottom: 40%;
  margin-left: 92%;

}