* {
  font-family: 'Nanum Pen Script';
}
body {
  background: black;
}

/* LOGIN FORM */
.login-form {
  border-radius: 15%;
  background: white;
  border: 1px solid black;
  padding: 100px;
  display: flex;
  position: absolute;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 39%;
  width: 150px;
  margin-top: 13%;
  z-index: 0;
}
.login-header {
  background: black;
  color: white;
  text-align: center;
  width: 200px;
  position: absolute;
  font-size: 38px;
  margin-bottom: 225px;
  box-shadow: 0px 0px 4px 3px black;
}
.login-form :nth-child(2) {
  margin-top: 25px;
}
.login-form :nth-child(4) {
  margin-top: 25px;
}
.login-form input {
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  margin: 5px;
}
.login-btn {
  font-size: 18px;
  margin-top: 13px;
  width: 70px;
}
.signup-btn {
  font-size: 18px;
  position: absolute;
  margin-top: 31%;
  margin-left: 48.8%;
  width: 70px;
}

/* SIGNUP FORM */
.signup-modal {
  display: flex;
  position: fixed;
  justify-content: center;
  background-color: rgba(0.8, 0.8, 0.8, 0.8);
  height: 100vh;
  width: 100vw;
  bottom: 0;
  left: 0;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid white;
  height: 25%;
  margin-top: 13%;
  margin-left: 1%;
  padding: 4%;
  /* padding-left: 3%;
  padding-right: 3%; */
}
.signup-header {
  border: 1px solid black;
  text-align: center;
  width: 200px;
  position: absolute;
  margin-bottom: 210px;
}
.signup-form input {
  font-size: 20px;
  margin: 3px;
}
.signup-form :nth-child(2) {
  margin-top: 80px;
}
.signup-modal-btn {
  font-size: 18px;
  margin-top: 25px;
  width: 70px;
  
}
.close-signup-form {
  font-size: 30px;
  position: fixed;
  margin-right: 15%;
  margin-top: 14%;
  color: black;
  cursor: pointer;
  text-decoration: none;
}


/* Login Page Background Animation */

@keyframes spin {
  from {transform: rotate(0deg);
  }
  to {transform: rotate(360deg);
  }
}
@keyframes reverse-spin {
  from {transform: rotate(360deg);
  }
  to {transform: rotate(0deg);
  }
}

@keyframes glow-wte {
  0% {box-shadow: 0px 0px 11px 2px white;}
  25% {box-shadow: 0px 0px 12px 2.5pxwhite;}
  50% {box-shadow: 0px 0px 13px 3px white;}
  75% {box-shadow: 0px 0px 14px 4px white;}
  100% {box-shadow: 0px 0px 15px 5px white;}
}
@keyframes glow-red {
  0% {box-shadow: 0px 0px 11px 2px #DC0007;}
  25% {box-shadow: 0px 0px 12px 2.5px#DC0007;}
  50% {box-shadow: 0px 0px 13px 3px #DC0007;}
  75% {box-shadow: 0px 0px 14px 4px #DC0007;}
  100% {box-shadow: 0px 0px 15px 5px #DC0007;}
}
@keyframes glow-grn {
  0% {box-shadow: 0px 0px 11px 2px #14DE0E;}
  25% {box-shadow: 0px 0px 12px 2.5px#14DE0E;}
  50% {box-shadow: 0px 0px 13px 3px #14DE0E;}
  75% {box-shadow: 0px 0px 14px 4px #14DE0E;}
  100% {box-shadow: 0px 0px 15px 5px #14DE0E;}
}
@keyframes glow-blu {
  0% {box-shadow: 0px 0px 11px 2px #03F7FF;}
  25% {box-shadow: 0px 0px 12px 2.5px#03F7FF;}
  50% {box-shadow: 0px 0px 13px 3px #03F7FF;}
  75% {box-shadow: 0px 0px 14px 4px #03F7FF;}
  100% {box-shadow: 0px 0px 15px 5px #03F7FF;}
}
@keyframes glow-pnk {
  0% {box-shadow: 0px 0px 11px 2px #ff37ca;}
  25% {box-shadow: 0px 0px 12px 2.5px#ff37ca;}
  50% {box-shadow: 0px 0px 13px 3px #ff37ca;}
  75% {box-shadow: 0px 0px 14px 4px #ff37ca;}
  100% {box-shadow: 0px 0px 15px 5px #ff37ca;}
}
@keyframes glow-orj {
  0% {box-shadow: 0px 0px 11px 2px #ffa90a;}
  25% {box-shadow: 0px 0px 12px 2.5px#ffa90a;}
  50% {box-shadow: 0px 0px 13px 3px #ffa90a;}
  75% {box-shadow: 0px 0px 14px 4px #ffa90a;}
  100% {box-shadow: 0px 0px 15px 5px #ffa90a;}
}
@keyframes glow-yel {
  0% {box-shadow: 0px 0px 11px 2px #FFFB00;}
  25% {box-shadow: 0px 0px 12px 2.5px#FFFB00;}
  50% {box-shadow: 0px 0px 13px 3px #FFFB00;}
  75% {box-shadow: 0px 0px 14px 4px #FFFB00;}
  100% {box-shadow: 0px 0px 15px 5px #FFFB00;}
}
@keyframes glow-prp {
  0% {box-shadow: 0px 0px 11px 2px #9d00ff}
  25% {box-shadow: 0px 0px 11px 2px #9d00ff}
  50% {box-shadow: 0px 0px 11px 2px #9d00ff}
  75% {box-shadow: 0px 0px 11px 2px #9d00ff}
  100% {box-shadow: 0px 0px 11px 2px #9d00ff}
}

/* FIRST SET OF ORBS 1111111 */

.orb-colors {
  display: flex;
  position: fixed;
  gap: 200px;
  margin-top: 23%;
  margin-left: 1%;
  animation: spin 20s linear infinite;
  z-index: -1;
}
.orb-colors .orb {
  border-radius: 100%;
  animation: glow 5s linear infinite;
}
.orb-colors :nth-child(1) {
  background-color: #DC0007;
  height: 20px;
  width: 20px;
  box-shadow: 0px 0px 10px 2px #DC0007;
  animation:1s ease-in-out infinite alternate glow-red;
  
}
.orb-colors :nth-child(2) {
  background-color: #14DE0E;
  height: 50px;
  width: 50px;
  box-shadow: 0px 0px 10px 2px #14DE0E;
  animation: 1s ease-in-out infinite alternate glow-grn;

}
.orb-colors :nth-child(3) {
  background-color: #03F7FF;
  height: 30px;
  width: 30px;
  box-shadow: 0px 0px 10px 2px #03F7FF;
  animation: 1s ease-in-out infinite alternate glow-blu;

}
.orb-colors :nth-child(4) {
  background-color: white;
  height: 20px;
  width: 20px;
}
.orb-colors :nth-child(5) {
  background-color: white;
  height: 20px;
  width: 20px;
}
.orb-colors :nth-child(6) {
  background-color: #ff37ca;
  height: 40px;
  width: 40px;
  box-shadow: 0px 0px 10px 2px #ff37ca;
  animation: 1s ease-in-out infinite alternate glow-pnk;

}
.orb-colors :nth-child(7) {
  background-color: #ffa90a;
  height: 16px;
  width: 16px;
  box-shadow: 0px 0px 10px 2px #ffa90a;
  animation: 1s ease-in-out infinite alternate glow-orj;

}
.orb-colors :nth-child(8) {
  background-color: #FFFB00;
  height: 31px;
  width: 31px;
  box-shadow: 0px 0px 10px 2px #FFFB00;
  animation: 1s ease-in-out infinite alternate glow-yel;

}

/* SECOND SET OF ORBS 2222222 */

.orbs-colors-2 {
  display: flex;
  position: fixed;
  gap: 125px;
  margin-top: 21%;
  margin-left: 16%;
  animation: reverse-spin 15s linear infinite;
  z-index: -1;
}
.orbs-colors-2 .orb {
  border-radius: 100%;
}
.orbs-colors-2 :nth-child(1) {
  background-color: #ff37ca;
  height: 13px;
  width: 13px;
  box-shadow: 0px 0px 10px 2px #ff37ca;
  animation: 1s ease-in-out infinite alternate glow-pnk;
  
}
.orbs-colors-2 :nth-child(2) {
  background-color: white;
  height: 33px;
  width: 33px;
  box-shadow: 0px 0px 10px 2px white;
  animation: 1s ease-in-out infinite alternate glow-wte;

}
.orbs-colors-2 :nth-child(3) {
  background-color: #14DE0E;
  height: 16px;
  width: 16px;
  box-shadow: 0px 0px 10px 2px #14DE0E;
  animation: 1s ease-in-out infinite alternate glow-grn;

}
.orbs-colors-2 :nth-child(4) {
  background-color: white;
  height: 20px;
  width: 20px;
}
.orbs-colors-2 :nth-child(5) {
  background-color: white;
  height: 20px;
  width: 20px;
}
.orbs-colors-2 :nth-child(6) {
  background-color: #9d00ff;
  height: 31px;
  width: 31px;
  box-shadow: 0px 0px 10px 2px #9d00ff;
  animation: 1s ease-in-out infinite alternate glow-prp;

}
.orbs-colors-2 :nth-child(7) {
  background-color: #ffa90a;
  height: 40px;
  width: 40px;
  box-shadow: 0px 0px 10px 2px #ffa90a;
  animation: 1s ease-in-out infinite alternate glow-orj;

}
.orbs-colors-2 :nth-child(8) {
  background-color: #DC0007;
  height: 30px;
  width: 30px;
  box-shadow: 0px 0px 10px 2px #DC0007;
  animation: 1s ease-in-out infinite alternate glow-red;

}

/* .list-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 75vw;
  background-color: red;
} */